<div>
  <div>
    <h1>
      List of all photos
    </h1>
  </div>
</div>

<%= form_with model: @document, local: true do |form| %>
  <div class="field">
    <%= form.label :file %>
    <%= form.file_field :file %>
  </div>

  <%= form.submit %>
<% end %>


<%= form_for(Photo.new, url: "/photos", method: "post") do |f| %>
  <%= f.label :caption %>
  <%= f.text_field :caption %>
  
  <%= f.submit "Add photo" %>
<% end %>
<hr>
<hr>
<div>
  <div>
    <table border="1">
      <tr>
        <th>Image</th>
        <th>Caption</th>
        <th>Owner</th>
        <th>Posted</th>
        <th>Likes</th>
        <th></th>
      </tr>

      <% @list_of_photos.each do |a_photo| %>
      <tr>
        <td>
          <img src="<%=a_photo.image %>">
        </td>

        <td>
          <%= a_photo.caption %>
        </td>

        <td>
          <%= a_photo.owner.username %>
        </td>

        <td>
          <%= time_ago_in_words(a_photo.created_at) %>
        </td>

        <td>
          <%= a_photo.likes_count %>
        </td>
        
        <td>
          <a href="/photos/<%= a_photo.id %>">
            Show details
          </a>
        </td>
      </tr>
      <% end %>
    </table>
  </div>
</div>

<hr>
