<div>
  <div>
    <h1>
      Photo details
    </h1>

  <dt>Image</dt>
  
  <dd><img src="<%= @the_photo.image %>" class="img-responsive"></dd>

  <dt>Caption</dt>
  <dd><%= @the_photo.caption %></dd>
  
  <dt>Owner</dt>
  <dd><%= @the_photo.owner_id %></dd>
  
  <dt>Posted</dt>
  <dd><%= time_ago_in_words(@the_photo.created_at) %> ago

  <dt>Likes count</dt>
  <dd><%= @the_photo.likes_count %></dd>

  <dt>Fans</dt>
  <dd>
  <ul>
    <% @the_photo.likes.each do |like| %>
      <li><%= like.fan_id %></li>
    <% end %>
  </ul>
</dd>

  <dt>Add a fan</dt>
       <button>Like</button>
</form>
      </dd>
    </dl>
  </div>
</div>

<hr>
<h2>Comments</h2>

<table>
  <tr>
    <th>Commenter</th>
    <th>Comment</th>
    <th>Posted</th>
  </tr>

<% @the_photo.comments.each do |a_comment|%>
  <tr>
    <td> <%=a_comment.author.username%> </td>
    <td> <%=a_comment.body%></td>
    <td><%=a_comment.created_at%></td>
  <% end %>
  </tr>


  
    
<div>
  <label for="caption_box">Add a new comment</label>

  <textarea id="caption_box" name="query_caption">Enter a comment...</textarea></div>
  <button>Add comment</button>  
  </form>
  </div>
</div>

<% if session[:self_id] && @the_photo.user_id == session[:self_id] %>


<dt>Image URL</dt>

<%= form_with model: @document, local: true do |form| %>
  <div class="field">
    <%= form.label :file %>
    <%= form.file_field :file %>
  </div>
  <button>Upload photo</button>
  
  <div>
  <dt>Caption</dt>
  <label for="caption_box">Add a new comment</label>

  <textarea id="caption_box" name="query_caption"><%=@the_photo.caption%></textarea></div>
  <button>Add comment</button>  
  </form>
<dt>Delete photo</dt>
  <dd>
    <a href="/delete_photo/<%=@the_photo.id%>;">
      Delete this photo
    </a>
  </dd>

  </div>

  <%= form.submit %>
<% end %>

<% end %>
<hr>
end
